li{
	display: inline;
}
#cvs{
	border-radius: 5px;
}
#mtr{
	position: fixed;
	right: .5em;
	bottom: 3em;
	background-color: #f3f3f3;
	border: 1px solid #c0c6c9;
	border-radius: 5px;
}
.toggle{
	display: block;
	position: fixed;
	right: .5em;
	bottom: .5em;
	color: #FFF;
	background-color: #04BE02;
	padding: 4px 16px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
