<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
<title>字模转换</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/milligram.css">
<link rel="stylesheet" href="css/label.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/vconsole.js"></script>
<script src="js/layer.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
</head>
<body class="container">
<header class="row">
	<h1 class="column">字模转换</h1>
</header>
<main class="row">
	<nav class="column">
		<div class="row">
			<div class="column">
				<label for="strIn">输入字符</label>
				<input id="strIn" type="text" v-model="strs.chars">
			</div>
		</div>
		<div class="row">
			<div class="column">
				<label for="mtxRC">
					<span>行列</span>
					<a class="detail" @click="matrix.rowcols--">－1</a>
					<a class="detail" @click="matrix.rowcols++">＋1</a>
					<a class="detail" @click="matrix.rowcols -= 4">－4</a>
					<a class="detail" @click="matrix.rowcols += 4">＋4</a>
				</label>
				<input id="mtxRC" type="text" v-model="matrix.rowcols > 2 ? matrix.rowcols : 2" number>
			</div>
			<div class="column">
				<label for="thres">
					<span>阈值</span>
					<a class="detail" @click="matrix.threshold -= .01">－.01</a>
					<a class="detail" @click="matrix.threshold += .01">＋.01</a>
					<a class="detail" @click="matrix.threshold -= .1">－.1</a>
					<a class="detail" @click="matrix.threshold += .1">＋.1</a>
				</label>
				<input id="thres" type="text" v-model="matrix.threshold > 0 ? (matrix.threshold < 1 ? matrix.threshold.toFixed(2) : .99) : .01" number>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<label>
					<span>行(x)</span>
					<a class="detail" @click="matrix.rows--">－1</a>
					<a class="detail" @click="matrix.rows++">＋1</a>
					<a class="detail" @click="matrix.rows -= 8">－8</a>
					<a class="detail" @click="matrix.rows += 8">＋8</a>
				</label>
				<input id="mtxR" type="text" v-model="matrix.rows > 2 ? matrix.rows : 2" number>
			</div>
			<div class="column">
				<label for="mtxC">
					<span>列(y)</span>
					<a class="detail" @click="matrix.columns--">－1</a>
					<a class="detail" @click="matrix.columns++">＋1</a>
					<a class="detail" @click="matrix.columns -= 8">－8</a>
					<a class="detail" @click="matrix.columns += 8">＋8</a>
				</label>
				<input id="mtxC" type="text" v-model="matrix.columns > 2 ? matrix.columns : 2" number>
			</div>
		</div>
		<div class="row">
			<span class="column">
				<a class="">按行</a>
				<a class="">按列</a>
				<a class="">左右翻转</a>
				<a class="">上下翻转</a>
				<a class="">按行反向</a>
				<a class="">按列反向</a>
			</span>
		</div>
		<div class="row">
			<span class="column">
				<ol id="prset">
					<li v-for="char in strs.chars">
						<span @click="crntChar($event)">{{ char }}</span>
						<label class="ui pointing label" @click="rtt($event)">{{ char }}</label>
					</li>
				</ol>
			</span>
		</div>
		<div class="row">
			<span class="column">
				<label>二进制:</label>
				<span class="result" contenteditable>{{ matrix.dt.join(',\n') }}</span>
			</span>
		</div>
		<div class="row">
			<span class="column">
				<label>十六进制:</label>
				<span class="result" contenteditable>{{ matrix.dt | tohex}}</span>
			</span>
		</div>
	</nav>
	<section class="column">
		<div class="row">
			<span class="column">
				<canvas id="cvs">Canvas Unsupported!</canvas>
			</span>
		</div>
		<div class="row">
			<article class="column" id="matrix" @click="swDotsStyle">
				<span>{{{ dots }}}</span>
			</article>
		</div>
	</section>
</main>
<script src="js/app.js"></script>
</body>
</html>
